@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

* {
  font-family: "B612", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #091111;
  display: flex;
  flex-direction: column;
  color: rgb(243, 240, 235);
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}
.row {
  display: flex;
}

.seat.occupied {
  background-color: whitesmoke;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: rgba(24, 18, 18, 0.1);
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: white;
  height: 70px;
  width: 100%;
  margin: 15px 0px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 50px rgba(230, 225, 225, 0.5);
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

p.text span {
  color: #6feaf6;
}

p.text {
  margin: 5px 0;
}
