@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

:root {
  --modal-duration: 1s;
  --primary-color: #eb4545;
  --secondary-color: #643f2e;
  --tertiary-color: #b95638;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: transform 0.6s ease-in-out;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

nav {
  background-color: var(--tertiary-color);
  border-right: 10px solid rgb(58, 10, 10, 0.2);
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 95px;
  width: 95px;
  border-radius: 30px;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.3);
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-size: 25px;
}

nav ul li {
  border-bottom: 6px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 6px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: whitesmoke;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(7, 6, 6, 0.3);
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*center placement*/
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
