@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

:root {
  --primary-color: rgb(25, 85, 85);
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
  font-size: 21px;
  color: var(--primary-color);
}

.btn {
  color: wheat;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 12px;
}

.money-img {
  width: 240px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border: 1px solid #f1e7e7;
  font-size: 16px;
  background: transparent;
  appearance: none;
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.currency input {
  border: none;
  background: transparent;
  font-size: 32px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}
select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
  .money-img {
    height: 140px;
    width: 140px;
    margin-top: 1rem;
    align-items: center;
  }
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
    font-weight: 100;
    color: var(--primary-color);
  }
}
